{{define "rightmenu"}}
<h2>Reports</h2>
{{template "helper/sidemenu" .}}

<h2>Sample links</h2>
<ul>
    <li><a href="#">Sample link 1</a></li>
    <li><a href="#">Sample link 2</a></li>
    <li><a href="#">Sample link 3</a></li>
    <li><a href="#">Sample link 4</a></li>
</ul>
{{end}}