{{define "yield"}}
    <h2><a href="/assumptions">Assumptions</a></h2>
    <ol>
        <li>Plan Date: {{.PlanDate}}</li>
        <li>Case Review Date: {{.CaseReviewDate}}</li>
        <li>Client Marital Status: {{.ClientMaritalStatus}}</li>
        <li>Long Term Inflation Rate: {{.LongTermInflationRate}}</li>
        <li>Social Security Increase Rate: {{.SocialSecurityIncreaseRate}}</li>
    </ol>
{{end}}